body{
margin:0;
font-family:Arial;
background:#0b0f1a;
color:white;
}

.hero{
text-align:center;
padding:120px 20px;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
color:#a0a0a0;
max-width:600px;
margin:auto;
margin-bottom:30px;
}

.buttons{
margin-top:20px;
}

.btn{
background:#6366f1;
padding:14px 28px;
border-radius:8px;
text-decoration:none;
color:white;
margin:10px;
display:inline-block;
}

.btn-outline{
border:1px solid #6366f1;
padding:14px 28px;
border-radius:8px;
text-decoration:none;
color:white;
margin:10px;
display:inline-block;
}

.services{
padding:80px 20px;
text-align:center;
}

.grid{
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#111827;
padding:30px;
border-radius:10px;
margin:15px;
width:260px;
}

.about{
text-align:center;
padding:80px 20px;
color:#cfcfcf;
}

footer{
text-align:center;
padding:40px;
background:#020617;
}